* {
    margin: 0;
}

// variable 
$width:400px;

// nesting 
.imgscale {
    border  : 2px solid black;
    width   : $width;
    margin  : 50px auto;
    position: relative;

    img {
        width         : $width;
        vertical-align: middle;
        filter        : brightness(0.5);
    }

    .text {
        position     : absolute;
        top          : 0;
        left         : 0;
        right        : 0;
        bottom       : 0;
        display      : grid;
        place-content: center;

        h1 {
            color: white;
        }
    }
}