.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1 {
    font-size: 35px;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: blue;
}